a {
    color: #bb2828;
    text-decoration: none;
    font-weight: bold;
}

.black {
    color: #333;
    fill: #333;
}

body {
    background-color: #111;
    color: #eee;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 0.05em; 
    margin: 0 auto;
    padding: 0 10%;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 0.85em;
        padding: 0 5%;
    }
}

.comment {
    color: #aaa;
}

div {
    padding-bottom: 1em;
}

h1 {
    letter-spacing: 0.05em; 
    margin-bottom: 0.1em;
}

h2 {
    letter-spacing: 0.05em; 
    margin: 0.5em 0;
}

h3 {
    letter-spacing: 0.05em; 
}

nav > ul {
    list-style-type: none;
    margin: 0.25em;
    padding-bottom: 1em;
    overflow: hidden;
}

nav > ul > li {
    padding-right: 1em;
    float: left;
}

.pre {
    white-space: pre-wrap;
}

.red {
    color: #8c2828;
    fill: #8c2828;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

